<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            font-family: 'EB Garamond';font-size: 18px;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <center>
    <h1>Login</h1>
    <form method="POST" action="/user/login">
        <label >Email:</label>
        <input type="text" required name="email">
        <br>
        <label >Password:</label>
        <input type="password" required name="password"><br>
        <button type="submit" class="submit">Login</button>
    </form><br>
    <a href="http://localhost:4567/user/signup" >Signup?</a>
</center>
</body>
</html> 